@model string
<link rel="stylesheet" href="~/css/Category/breadcrumb.css" asp-append-version="true" />
<div class="breadcrumb-container">
    <h1>@Model</h1>
    <nav class="breadcrumb-z">
        <a href="/">Trang chủ</a> /
        <span>@Model</span>
    </nav>
</div>

